In [1]:
import pandas as pd

# Load the sales dataset
sales_data = pd.read_excel('SalesData.xlsx')

# Display the first few rows of the dataset
print(sales_data.head())

   OrderDate   Region  Manager   SalesMan          Item  Units  Unit_price  \
0 2018-01-06     East   Martha  Alexander    Television     95      1198.0
1 2018-01-23  Central  Hermann     Shelli  Home Theater     50       500.0
2 2018-02-09  Central  Hermann       Luis    Television     36      1198.0
3 2018-02-26  Central  Timothy      David    Cell Phone     27       225.0
4 2018-03-15     West  Timothy    Stephen    Television     56      1198.0

   Sale_amt
0  113810.0
1   25000.0
2   43128.0
3    6075.0
4   67088.0

In [2]:
# Group by 'Item' and find the minimum sale amount
least_sale_per_item = sales_data.groupby('Item')['Sale_amt'].min().reset_index()
least_sale_per_item.columns = ['Item', 'Least_Sale_Amount']
print(least_sale_per_item)

           Item  Least_Sale_Amount
0    Cell Phone             3375.0
1          Desk              250.0
2  Home Theater             2000.0
3    Television             8386.0
4   Video Games              936.0

In [3]:
# Extract year from the 'OrderDate' column
sales_data['Year'] = pd.to_datetime(sales_data['OrderDate']).dt.year

# Group by 'Year' and 'Region' and sum the 'Sale_amt'
total_sales_per_year_region = sales_data.groupby(['Year', 'Region'])['Sale_amt'].sum().reset_index()
print(total_sales_per_year_region)

   Year   Region  Sale_amt
0  2018  Central  479825.0
1  2018     East  293780.0
2  2018     West  105424.0
3  2019  Central  349944.5
4  2019     East   27227.0
5  2019     West   49475.0

In [4]:
# Assuming the reference date is '2023-10-01'
reference_date = pd.to_datetime('2023-10-01')

# Calculate the difference in days
sales_data['days_diff'] = (reference_date - pd.to_datetime(sales_data['OrderDate'])).dt.days
print(sales_data[['OrderDate', 'days_diff']])

    OrderDate  days_diff
0  2018-01-06       2094
1  2018-01-23       2077
2  2018-02-09       2060
3  2018-02-26       2043
4  2018-03-15       2026
5  2018-04-01       2009
6  2018-04-18       1992
7  2018-05-05       1975
8  2018-05-22       1958
9  2018-06-08       1941
10 2018-06-25       1924
11 2018-07-12       1907
12 2018-07-29       1890
13 2018-08-15       1873
14 2018-09-01       1856
15 2018-09-18       1839
16 2018-10-05       1822
17 2018-10-22       1805
18 2018-11-08       1788
19 2018-11-25       1771
20 2018-12-12       1754
21 2018-12-29       1737
22 2019-01-15       1720
23 2019-02-01       1703
24 2019-02-18       1686
25 2019-03-07       1669
26 2019-03-24       1652
27 2019-04-10       1635
28 2019-04-27       1618
29 2019-05-14       1601
30 2019-05-31       1584
31 2019-06-17       1567
32 2019-07-04       1550
33 2019-07-21       1533
34 2019-08-07       1516
35 2019-08-24       1499
36 2019-09-10       1482
37 2019-09-27       1465
38 2019-10-14       1448
39 2019-10-31       1431
40 2019-11-17       1414
41 2019-12-04       1397
42 2019-12-21       1380

In [5]:
# Group by 'Manager' and aggregate the list of salesmen
manager_salesmen = sales_data.groupby('Manager')['SalesMan'].unique().reset_index()
manager_salesmen.columns = ['Manager', 'List_of_Salesmen']
print(manager_salesmen)

   Manager            List_of_Salesmen
0  Douglas      [Michael, Karen, John]
1  Hermann       [Shelli, Luis, Sigal]
2   Martha  [Alexander, Steven, Diana]
3  Timothy            [David, Stephen]

In [6]:
# Group by 'Region' and calculate the number of unique salesmen and total sales
region_summary = sales_data.groupby('Region').agg(
    salesmen_count=('SalesMan', 'nunique'),
    total_sales=('Sale_amt', 'sum')
).reset_index()
print(region_summary)

    Region  salesmen_count  total_sales
0  Central               6     829769.5
1     East               3     321007.0
2     West               2     154899.0

In [7]:
# Calculate total sales per manager
manager_total_sales = sales_data.groupby('Manager')['Sale_amt'].sum().reset_index()

# Calculate the percentage of total sales for each manager
total_sales_all_managers = manager_total_sales['Sale_amt'].sum()
manager_total_sales['percent_sales'] = (manager_total_sales['Sale_amt'] / total_sales_all_managers) * 100

# Rename columns for clarity
manager_total_sales.columns = ['Manager', 'Total_Sales', 'Percent_Sales']
print(manager_total_sales)

   Manager  Total_Sales  Percent_Sales
0  Douglas     239056.0      18.308990
1  Hermann     365108.5      27.963188
2   Martha     472493.0      36.187629
3  Timothy     229018.0      17.540193

In [ ]:
import pandas as pd

# Load the imdb dataset
imdb_data = pd.read_csv('imdb.csv')

# Display the first few rows of the dataset
print(imdb_data.head())

In [12]:
import pandas as pd

# Load the imdb dataset, skipping problematic rows
imdb_data = pd.read_csv('imdb.csv', on_bad_lines='skip')

In [13]:
# Get the IMDb rating for the fifth movie (index 4)
fifth_movie_rating = imdb_data.loc[4, 'imdbRating']
print(f"IMDb rating for the fifth movie: {fifth_movie_rating}")

IMDb rating for the fifth movie: 8.7

In [14]:
# Find the movie with the shortest duration
shortest_duration_movie = imdb_data.loc[imdb_data['duration'].idxmin(), 'title']

# Find the movie with the longest duration
longest_duration_movie = imdb_data.loc[imdb_data['duration'].idxmax(), 'title']

print(f"Movie with the shortest duration: {shortest_duration_movie}")
print(f"Movie with the longest duration: {longest_duration_movie}")

Movie with the shortest duration: Traffic Crossing Leeds Bridge (1888)
Movie with the longest duration: Baseball The National Pastime (TV Episode 1994)

In [16]:
# Sort by 'year' (earliest first) and 'imdbRating' (highest to lowest)
sorted_imdb_data = imdb_data.sort_values(by=['year', 'imdbRating'], ascending=[True, False])
print(sorted_imdb_data[['title', 'year', 'imdbRating']].head())

                                        title    year  imdbRating
13605            Roundhay Garden Scene (1888)  1888.0         7.8
13282    Traffic Crossing Leeds Bridge (1888)  1888.0         7.2
6705                  Blacksmith Scene (1893)  1893.0         6.3
12316  Dickson Experimental Sound Film (1894)  1894.0         6.8
6706            The Kiss in the Tunnel (1899)  1899.0         5.9

In [17]:
# Convert duration from seconds to minutes
imdb_data['duration_minutes'] = imdb_data['duration'] / 60

# Filter movies with duration between 30 and 180 minutes
filtered_movies = imdb_data[(imdb_data['duration_minutes'] >= 30) & (imdb_data['duration_minutes'] <= 180)]
print(filtered_movies[['title', 'duration_minutes']].head())

                              title  duration_minutes
0  Der Vagabund und das Kind (1921)              54.0
1                 Goldrausch (1925)              95.0
2                 Metropolis (1927)             153.0
3                Der General (1926)             107.0
4      Lichter der Großstadt (1931)              87.0

In [18]:
import pandas as pd
import numpy as np

# Load the diamonds dataset
diamonds = pd.read_csv('diamonds.csv')

# Display the first few rows of the dataset
print(diamonds.head())

  carat      cut color clarity  depth  table  price     x     y     z
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [19]:
# Count duplicate rows (all columns must match)
duplicate_count = diamonds.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 149

In [20]:
# Drop rows with missing values in 'carat' or 'cut'
diamonds_clean = diamonds.dropna(subset=['carat', 'cut'])
print(f"DataFrame after dropping missing values:\n{diamonds_clean.head()}")

DataFrame after dropping missing values:
  carat      cut color clarity  depth  table  price     x     y     z
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [21]:
# Select only numeric columns
numeric_columns = diamonds.select_dtypes(include=[np.number])
print(f"Numeric columns subset:\n{numeric_columns.head()}")

Numeric columns subset:
   depth  table  price     x     y     z
0   61.5   55.0  326.0  3.95  3.98  2.43
1   59.8   61.0  326.0  3.89  3.84  2.31
2   56.9   65.0  327.0  4.05  4.07  2.31
3   62.4   58.0  334.0  4.20  4.23  2.63
4   63.3   58.0  335.0  4.34  4.35  2.75

In [22]:
# Compute volume based on depth
diamonds['volume'] = np.where(
    diamonds['depth'] > 60,
    diamonds['x'] * diamonds['y'] * diamonds['z'],
    8  # Default value if depth ≤ 60
)
print(diamonds[['depth', 'x', 'y', 'z', 'volume']].head())

   depth     x     y     z    volume
0   61.5  3.95  3.98  2.43  38.20203
1   59.8  3.89  3.84  2.31   8.00000
2   56.9  4.05  4.07  2.31   8.00000
3   62.4  4.20  4.23  2.63  46.72458
4   63.3  4.34  4.35  2.75  51.91725

In [23]:
# Calculate the mean price (excluding NaN)
mean_price = diamonds['price'].mean()

# Fill missing 'price' values with the mean
diamonds['price'] = diamonds['price'].fillna(mean_price)
print(f"Updated 'price' column:\n{diamonds['price'].head()}")

Updated 'price' column:
0    326.0
1    326.0
2    327.0
3    334.0
4    335.0
Name: price, dtype: float64